.banner {
  display: grid;
  grid-template: auto / 68%;
  justify-content: center;
  margin-top: 3em;
}

.banner-box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 5px 144px 4px rgba(0, 0, 0, 0.25);
}

.banner__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.banner__form-section {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

.banner-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.__select {
  padding: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #000;
}

.__select:focus {
  outline: none;
  border-bottom: 1px solid #F97153;
}
